<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{template/secure}"
      lang="en">
<body>
<div layout:fragment="page-content">
    <div>
        <a th:href="|/anotherPage/${varName}|">AnotherPage</a>
    </div>
    <div>
        <form action="/addPerson" method="post">
            <table>
                <tr>
                    <td>
                        id
                    </td>
                    <td>
                        <input type="text" name="id"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        name
                    </td>
                    <td>
                        <input type="text" name="name"/>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <input type="submit" value="Submit"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <form action="/addEmployee" method="post">
            <table>
                <tr>
                    <td>
                        Person Id
                    </td>
                    <td>
                        <input type="text" name="person.id"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Person Name
                    </td>
                    <td>
                        <input type="text" name="person.name"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        employeeId
                    </td>
                    <td>
                        <input type="text" name="employeeId"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        department
                    </td>
                    <td>
                        <select name="department">
                            <option>CONTRACT</option>
                            <option>PERMANENT</option>
                            <option>GUEST</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <input type="submit" value="Submit"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <table>
            <tr th:each="person: ${personList}">
                <td th:text="${person.id}">id</td>
                <td th:text="${person.name}">name</td>

            </tr>
        </table>
    </div>


</div>
</body>
</html>
